@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FAFAED;
}

header {
  padding: 20px 30px;
  height: 677px;
  background-color: red;
  background-image: url("https://interviewtests-wesley.s3.amazonaws.com/redventures/assets/img/banner/background-pattern.png");
  background-size: contain;
  margin-bottom: 40px;

  .container-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    .logo {
      width: 125px;
      height: 16px;
    }
  }

  .illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    img {
      width: 265.06px;
      height: 269px;
    }
  }

  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: #FFC024;
      margin-bottom: 11px;
    }

    h1 {
      font-weight: 900;
      font-size: 120px;
      line-height: 100px;
      text-align: center;
      color: #FAFAED;
      margin-bottom: 24px;
    }
    
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  .btn {
    display: none;
  }

  @media screen and (min-width: 600px) {
    padding: 20px 40px;
    height: 768px;
    background-color: red;
    background-image: url("https://interviewtests-wesley.s3.amazonaws.com/redventures/assets/img/banner/background-pattern.png");
    background-size: contain;
  
    .container-logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
  
      .logo {
        position: absolute;
        left: 24px;
        top: 24px;
        width: 124.69px;
        height: 15.67px;
      }
    }
    
    .illustration {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
  
      img {
        width: 673px;
        height: 683px;
      }
    }

    .headline {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h2 {
        position: absolute;
        left: 450px;
        top: 166px;
        writing-mode: vertical-lr;
        z-index: 10;
        height: 224px;
        width: 48px;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: #FFC024;
        margin-bottom: 11px;
      }
  
      h1 {
        z-index: 10;
        position: absolute;
        left: 510px;
        top: 280px;
        font-weight: 900;
        font-size: 160px;
        line-height: 100px;
        text-align: center;
        color: #FAFAED;
        margin-bottom: 24px;
      }
      
      p {
        z-index: 10;
        position: absolute;
        left: 460px;
        top: 404px;
        width: 201px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        color: #FFFFFF;
      }
    }

    .btn {
      display: flex;
      z-index: 10;
      position: absolute;
      left: -390px;
      top: 552px;

      button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        width: 213px;
        height: 60px;
        background-color: #1820EF;
        border-radius: 50px;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 14px;
        line-height: 20.79px;
        letter-spacing: 1.78px;

        span {
          font-size: 28px;
          color: #FFC024;
        }
      }
    }
  }
}


.slider-text {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;

  h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 16px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

.slider {
  width: 100%;
  height: 100%;
  margin-bottom: 48px;

  .slider-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling */
    width: 100%;
    padding: 10px 0;

    .slide-broth, .slide-protein {
      flex: none;
      width: 288px;
      height: 316px;
      background-color: #FAFAED;
      border-radius: 15px;
      box-shadow: #E0DBBF99 0 4px 12px 0;
      scroll-snap-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: black;
      margin: 0 16px 0 0;
    }

    .slide:first-child {
      margin-left: 30px;
    }
    
    .slide:last-child {
      margin-right: 30px;
    }
  }


  @media screen and (min-width: 600px) {
    .slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-bottom: 38px;
  
  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 213px;
    height: 60px;
    background-color: #C5C5C5;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 14px;
    line-height: 20.79px;
    letter-spacing: 1.78px;
    cursor: pointer;

    span {
      font-size: 28px;
      color: #FFFFFF;
    }
  }
}
